body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white;
  background-color: #000;
}

main {
  position: relative;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.logo a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.hero {
  height: 100vh;
  background-image: url('/hero.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.prize-badge {
    position: absolute;
    top: 20px;
    left: 20px;
}

.hero-text h1 {
  font-size: 6rem;
  margin: 0;
  line-height: 1.2;
  font-weight: 500;
}

.scroll-down {
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.scroll-down span {
  margin-bottom: 8px;
}
